<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>graphics_quote</servlet-name>
        <jsp-file>/graphics_quote.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>change_color</servlet-name>
        <servlet-class>servlet.change_color</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_color_step</servlet-name>
        <servlet-class>servlet.change_color_step</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_memo_update_again</servlet-name>
        <servlet-class>servlet.add_memo_update_again</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>graphics_quote</servlet-name>
        <url-pattern>/graphics_quote</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_signin</servlet-name>
        <servlet-class>servlet.user_signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentMarkDetails</servlet-name>
        <servlet-class>servlet.GetStudentMarkDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test1</servlet-name>
        <servlet-class>servlet.test1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>table_test</servlet-name>
        <servlet-class>servlet.table_test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>json</servlet-name>
        <servlet-class>user.json</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>table_test_2</servlet-name>
        <servlet-class>servlet.table_test_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JqGridServlet</servlet-name>
        <servlet-class>servlet.JqGridServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadJsonDataServlet</servlet-name>
        <servlet-class>com.demo.LoadJsonDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_signin_2</servlet-name>
        <servlet-class>servlet.user_signin_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>servlet.FileUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>servlet.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_folder</servlet-name>
        <servlet-class>servlet.create_folder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_file_list</servlet-name>
        <servlet-class>servlet.get_file_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auto_complete_email</servlet-name>
        <servlet-class>servlet.auto_complete_email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auto_complete_order_number</servlet-name>
        <servlet-class>servlet.auto_complete_order_number</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order_number</servlet-name>
        <servlet-class>servlet.order_number</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_order_files</servlet-name>
        <servlet-class>servlet.get_order_files</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_file</servlet-name>
        <servlet-class>servlet.delete_file</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auto_input_box</servlet-name>
        <servlet-class>servlet.auto_input_box</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auto_complete_additional</servlet-name>
        <servlet-class>servlet.auto_complete_additional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search_template</servlet-name>
        <servlet-class>servlet.search_template</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_memo</servlet-name>
        <servlet-class>servlet.add_memo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_memo</servlet-name>
        <servlet-class>servlet.get_memo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_signin_ad</servlet-name>
        <servlet-class>servlet.user_signin_ad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>set_lock_flag</servlet-name>
        <servlet-class>servlet.set_lock_flag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modify_order</servlet-name>
        <servlet-class>servlet.modify_order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auto_save</servlet-name>
        <servlet-class>servlet.auto_save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_order_memo_sync</servlet-name>
        <servlet-class>servlet.get_order_memo_sync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_memo_update</servlet-name>
        <servlet-class>servlet.add_memo_update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_signin</servlet-name>
        <url-pattern>/user_signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentMarkDetails</servlet-name>
        <url-pattern>/GetStudentMarkDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test1</servlet-name>
        <url-pattern>/test1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>table_test</servlet-name>
        <url-pattern>/table_test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>json</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>table_test_2</servlet-name>
        <url-pattern>/table_test_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JqGridServlet</servlet-name>
        <url-pattern>/JqGridServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadJsonDataServlet</servlet-name>
        <url-pattern>/LoadJsonDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_signin_2</servlet-name>
        <url-pattern>/user_signin_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/FileUploadHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_folder</servlet-name>
        <url-pattern>/create_folder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_file_list</servlet-name>
        <url-pattern>/get_file_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auto_complete_email</servlet-name>
        <url-pattern>/auto_complete_email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auto_complete_order_number</servlet-name>
        <url-pattern>/auto_complete_order_number</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order_number</servlet-name>
        <url-pattern>/order_number</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_order_files</servlet-name>
        <url-pattern>/get_order_files</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_file</servlet-name>
        <url-pattern>/delete_file</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auto_input_box</servlet-name>
        <url-pattern>/auto_input_box</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auto_complete_additional</servlet-name>
        <url-pattern>/auto_complete_additional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search_template</servlet-name>
        <url-pattern>/search_template</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_memo</servlet-name>
        <url-pattern>/add_memo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_memo</servlet-name>
        <url-pattern>/get_memo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_signin_ad</servlet-name>
        <url-pattern>/user_signin_ad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>set_lock_flag</servlet-name>
        <url-pattern>/set_lock_flag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modify_order</servlet-name>
        <url-pattern>/modify_order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auto_save</servlet-name>
        <url-pattern>/auto_save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_order_memo_sync</servlet-name>
        <url-pattern>/get_order_memo_sync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_memo_update</servlet-name>
        <url-pattern>/add_memo_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_color</servlet-name>
        <url-pattern>/change_color</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_color_step</servlet-name>
        <url-pattern>/change_color_step</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_memo_update_again</servlet-name>
        <url-pattern>/add_memo_update_again</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>newjsp.jsp</welcome-file>
    </welcome-file-list>
    <mime-mapping>
        <extension>xlsx</extension>
        <mime-type>application/excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlsm</extension>
        <mime-type>application/excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xltm</extension>
        <mime-type>application/excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>oft</extension>
        <mime-type>application/outlook</mime-type>              
        <!--<mime-type>application/vnd.ms-outlook</mime-type>-->
    </mime-mapping>
    <mime-mapping>
        <extension>docx</extension>
        <mime-type>application/word</mime-type>
    </mime-mapping>
</web-app>
