#email_recipient{
    position: absolute;
    top: 8%;
    left: 5%;   
    height: 10%;
    width: 30%;
    text-align: center;
    
    display: none;

}

#email_list_btn{
    position: absolute;
    top: 8.5%;
    left: 36%;  
    width: 10%;
    height: 11%;
    
    display: none;
}

#email_list{
    position: absolute;
    top: 20%;
    left: 55%;  
    width: 40%;
    height: 60%;
    
    

}


#div_email_list{

    position: absolute;
    top: 20%;
    left: 5%;  
    width: 40.5%;
    height: 60%;

    border-left:1px #999999 solid;
    border-right:1px #999999 solid;
    overflow: auto;
    
    display: none;


}


#email_btn{
    position: absolute;
    top: 80%;
    left: 4.5%;   
    height: 10%;
    width: 21%;
    color:  white;


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
    background: #bfd255; /* Old browsers */
    background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */

}






/* 
#tbl tr:nth-child(even){background-color: #f2f2f2}
*/


#table_email_list tr:hover{
 background: #99ccff;
}


/* row sapcing */

#table_email_list {
    border-collapse:collapse;
    border-spacing:0px;
    width: 100%;

    line-height: 15px;
}

#table_email_list td{
    display:block;
    padding:10px;
    margin:0px;
    border:0px;

    border-bottom: 1px solid rgba(183,222,237,1);
    font-size: 10pt;
}

